<!DOCTYPE html>
<html>
<head>
<title>Test page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
</head>
<body>
	<div class="test">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium suscipit ligula, non gravida sapien placerat eu. Nulla facilisi.
		Cras at urna dolor. Nulla et ornare lorem, vel sodales massa. Donec mauris elit, molestie sed augue non, malesuada suscipit odio. Aenean
		bibendum augue ac augue vehicula venenatis. Etiam mollis sodales augue sed facilisis. Curabitur ut tellus feugiat, suscipit ante eget, semper ipsum.

Donec ultricies mi vitae tincidunt egestas. Maecenas aliquet tortor eu massa congue, vel tempus metus semper. Aenean dui nisl, ullamcorper sit amet tempus id, feugiat id mauris. Morbi ultrices sollicitudin facilisis. In quis eros fermentum, accumsan turpis vitae, tristique quam. Praesent egestas sit amet diam ut mollis. Proin consequat pretium commodo. In suscipit felis dictum rutrum feugiat. Etiam finibus eros scelerisque, lacinia nulla sed, laoreet orci. Aenean tincidunt pretium sapien quis hendrerit.

Duis nec ultricies nisi. Proin porttitor eros ut sem porttitor porttitor. Nam pretium erat eu blandit consectetur. Praesent sit amet orci vitae felis bibendum lobortis ac sed nunc. Suspendisse mollis purus massa, tincidunt tincidunt enim convallis eu. Ut ligula ante, elementum non convallis sit amet, molestie ac lacus. Duis nec libero gravida, laoreet ante et, semper ipsum. In ex arcu, euismod et dignissim at, mattis ut ipsum. Suspendisse potenti. Vestibulum ac leo nec lectus efficitur dictum vel sed eros. Ut ut ultricies eros. Aliquam vitae mi et neque tristique porttitor. Sed tempus pellentesque nibh et commodo. </p>
		<div class="continue">
		<a href="{{ url_for('quiz') }}"><input type="submit" value="Start the Exam"></a></div>
	</div>
</body>
</html>